@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* { box-sizing:border-box;
}

body {
    height:100vh;
    margin:0;
    font-family:'Lato', sans-serif;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(235,131,130,1) 0%, rgba(235,131,130,0.75) 38.6%, rgba(211,177,125,0.52) 72.1%, rgba(211,177,125,0.24) 94.7% );
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    color:white;
}

.music-container{
    background-color:white;
    border-radius:15px;
    box-shadow: 1 20px 0 rbga(252, 169, 169, 0.6);
    display:flex;
    position:relative;
    padding:20px 30px;
    margin:100px 0;
    z-index:10;
}

.img-container {
    position:relative;
    width:110px;
}

.img-container::after {
    content:'';
    background-color:white;
    height:20px;
    width:20px;
    position:absolute;
    left: 50%;
    bottom:50%;
    border-radius:50%;
    transform: translate(-50%, -50%);
}

.img-container img{
    width:inherit;
    height:110px;
    border-radius: 50%;
    border:1px solid rgb(199, 199, 199);
    object-fit: cover;
    position:absolute;
    bottom:0;
    left:0;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}

.music-container.play .img-container img{
    animation-play-state: running;
}

@keyframes rotate{
    from {
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg)
    }
}

.navigation {
    display:flex;
    align-items:center;
    justify-content:center;
    z-index: 1;
}

.action-btn {
    background-color: white;
    border:0;
    padding:10px;
    margin: 0 20px;
    color: #dfdbdf;
    font-size:20px;
    cursor: pointer;
}

.action-btn-big{
    color: #cdc2d0;
    font-size:30px;
}

.action-btn:focus {
    outline: 0;
}

.music-info {
    background-color: rgba(255,255,255, 0.5);
    border-radius:15px 15px 0 0;
    position:absolute;
    top:0;
    left: 20px;
    width: calc(100% - 40px);
    opacity:0;
    transform: translateY(0%);
    padding:10px 10px 10px 150px;
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

.music-info h4 {
    margin:0;
}

.music-container.play .music-info{
    transform: translateY(-100%);
    opacity:1;
}

.progress-container{
    background:white;
    /* color:black; */
    cursor: pointer;
    border-radius: 5px;
    margin:10px 0;
    height: 4px;
    width:100%;
}

.progress{
    background-color:#fe8daa;
    border-radius:5px;
    height:100%;
    width:0%;  // JS to increase width as it plays
    transition: width 0.1s linear
}

